
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li
{
   float:left;
}
a:link, a:visited
{  display: block;
   width: 200px;
   font-weight:bold;
   color:white;
   background-color: black;
   text-align: center;
   padding: 4px;
   text-decoration: none;
   text-transform: uppercase;
}
a:hover, a:active {
    background-color: gray;
}

